/*>-------------------- NAV-LEFT ---------------------<*/

.nav-belt {
	display: flex;
	width: 100%;
	max-width: 100%;
	height: 10vh;
	padding: 10px 10px 10px 10px;
	background: linear-gradient(to right, rgb(240, 53, 252), rgb(124, 19, 161));
}

.nav-left {
	display: flex;
	flex-direction: row;
}

.nav-left img {
	width: 150px;
	max-width: 200px;
	object-fit: cover;
}

.global-location {
	color: rgb(227, 225, 225);
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 10px 10px 10px;
}

.block-city {
	display: flex;
	padding: 10px 10px 10px 10px;
	flex-direction: column;
}

.nav-left img:hover,
.global-location:hover {
	border: 1px solid rgb(227, 225, 225);
	cursor: pointer;
}

.deliver {
	font-size: 12px;
	line-height: 14px;
	height: 14px;
	font-weight: 400;
}

.city {
	font-size: 14px;
	line-height: 15px;
	font-weight: 700;
}

/*>-------------------- NAV-FILL ---------------------<*/
.nav-fill {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 907px;
	height: 100%;
}

.nav-fill .nav-search select {
	width: auto;
	font-size: 12px;
	padding: 11px 10px 10px 10px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	border-width: 0;
}

.nav-fill .nav-search input {
	margin: auto 0;
	height: 100%;
	font-size: 14px;
	padding: 10px 10px 10px 10px;
	border: none;
	outline: none;
}

.nav-fill .nav-search button {
	height: 40px;
	padding: 10px 10px 10px 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
	outline: none;
	width: 50px;
	color: #fff;
	margin-right: 30px;
	cursor: pointer;
}
